/* * { border: 2px dotted red; } */

.grid-base {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    aspect-ratio: 1;
    margin: auto;
    border: 2px solid black;
}

.grid-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 50px;
}

.grid-square {
    display: flex;
    flex: 1 1 50px;
    /* padding-top: 100% */
}

.colored-in {
    background-color: black;
}

#button-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#resize-button {
    width: 25%;
}